<div>
    <h2>Property connection</h2>
    <p>In those example component are connected by property name with decorator</p>
    <p>
        <strong>Input / Output</strong><br />
        On left side there is an input component connected with an output component on right side<br />
        <app-input></app-input> <app-output></app-output>
    </p>
    <p>
        <strong>ngModel</strong><br />
        Both components are connected by ngModel (two way databinding)<br />
        <app-model></app-model> <app-model></app-model>
    </p>
    <h2>Key connection</h2>
    <p>In those example component are connected by decorator option "key"</p>
    <p>
        <strong>Input / Output</strong><br />
        On left side there is an input component connected with an output component on right side<br />
        <app-input-key></app-input-key> <app-output-key></app-output-key>
    </p>
    <p>
        <strong>ngModel</strong><br />
        Both components are connected by ngModel (two way databinding) but attached<br />
        <app-model-key></app-model-key> <app-model-key></app-model-key>
    </p>
</div>